{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>med page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <header class = "site-header">
        <div class = "title-block">
            <h1>
                med
            </h1>
        </div>
        <div class = "right-buttons">    

            {% for link in SocialLinks %}
                <a href ="{{link.url}}" target="_blank" class = "link-block">
                    <img src="{{ link.image.url }}" class="link-block-icon">
                </a>
            {% endfor %}

            <div class = "menu">
                <div class = "menu-item">
                <span>☰</span>
                <div class="dropdown">
                    <a href="http://med.f5.si/blog" target="_blank">blog</a>
                </div>
                </div>
            </div>

        </div>
    </header>
    <div class = "header-image">
        <img src="{{ aboutme.headerimage.url }}" alt="Header Image">
    </div>
    <main class = "site-main">
        <a href="{% url 'profile' %}" class="profile-card-link">
          <div class="profile-card">
            <div class="header-icon">
              <img src="{{ aboutme.iconimage.url }}" alt="Header Icon">
            </div>
            <div class="profile-content">
               <div class="header-name">
                 <h1>{{ aboutme.name }}</h1>
               </div>
               <div class="aboutme">
                 {% include "templates/home/about_me.html" %}
               </div>
            </div>
          </div> 
        </a>

        <div class = "content">
            <button class="content-bottun active"
                hx-get="/works"
                hx-target="#output"
                hx-swap="innerHTML">
                works
            </button>
            <button class="content-bottun"
                hx-get="/history"
                hx-target="#output"
                hx-swap="innerHTML">
                history
            </button>
            <button class="content-bottun"
                hx-get="/miniblog"
                hx-target="#output"
                hx-swap="innerHTML">
                miniblog
            </button>
            <button class="content-bottun"
                hx-get="/products"
                hx-target="#output"
                hx-swap="innerHTML">
                products
            </button>
            <button class="content-bottun"
                hx-get="/techstack"
                hx-target="#output"
                hx-swap="innerHTML">
                techstack
            </button>
            <button class="content-bottun"
                hx-get="/techstack"
                hx-target="#output"
                hx-swap="innerHTML">
                links
            </button>
        </div>
        <div class="content-main" id="output">
            {% include "templates/miniblog/miniblog_base.html" %}
            {% block miniblog %}{% endblock %}
        </div>
    </main>

        <footer class="site-footer">
            <div>
                copyright &copy; 2025 med
            </div>
        </footer>
</body>

<script>
  const tabs = document.querySelectorAll(".content-bottun");
  tabs.forEach(tab => {
    tab.addEventListener("click", () => {
      tabs.forEach(t => t.classList.remove("active"));
      tab.classList.add("active");
    });
  });
</script>


