{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}med page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'work/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'history/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'miniblog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'techstack/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'link/css/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <header class = "site-header">
        <div class = "title-block">
            <h1>
                <a href="{% url 'home'%}">
                  med
                </a>
            </h1>
        </div>
        <div class = "right-buttons">    

            {% for link in SocialLinks %}
                <a href ="{{link.url}}" target="_blank" class = "link-block">
                    <img src="{{ link.image.url }}" class="link-block-icon">
                </a>
            {% endfor %}

            <div class = "menu">
                <div class = "menu-item">
                <span>☰</span>
                <div class="dropdown">
                    <a href="{% url 'home'%}">home</a>
                    <a href="http://med.f5.si/blog" target="_blank">blog</a>
                </div>
                </div>
            </div>
        </div>
    </header>
    {% block header-plus %}
    {% endblock%}

    {% block main %}
    <div class = "header-image">
        <img src="{{ aboutme.headerimage.url }}" alt="Header Image">
    </div>
    <main class = "site-main">
        <a href="{% url 'profile' %}" class="profile-card-link">
          <div class="profile-card">
            <div class="header-icon">
              <img src="{{ aboutme.iconimage.url }}" alt="Header Icon">
            </div>
            <div class="profile-content">
               <div class="header-name">
                 <h1>{{ aboutme.name }}</h1>
               </div>
               <div class="aboutme">
                 {% include "templates/home/about_me.html" %}
               </div>
            </div>
          </div> 
        </a>

        <div class = "content">
            <button class="content-bottun active "id=history
                hx-get="/history"
                hx-target="#output"
                hx-swap="innerHTML">
                History
            </button>
            <button class="content-bottun" id=work
                hx-get="/work"
                hx-target="#output"
                hx-swap="innerHTML">
                Works
            </button>
            <button class="content-bottun"id=information
                hx-get="/information"
                hx-target="#output"
                hx-swap="innerHTML">
                Information
            </button>
            <button class="content-bottun"id=product
                hx-get="/product"
                hx-target="#output"
                hx-swap="innerHTML">
                Products
            </button>
            <button class="content-bottun"id=techstack
                hx-get="/techstack"
                hx-target="#output"
                hx-swap="innerHTML">
                TechStack
            </button>
            <button class="content-bottun"id=link
                hx-get="/link"
                hx-target="#output"
                hx-swap="innerHTML">
                Links
            </button>
        </div>
        <div class="content-main" id="output">
            {% include "history/history_base.html" %}
        </div>
    </main>
    {% endblock %}
        <footer class="site-footer">
            <div>
                copyright &copy; 2025 med
            </div>
        </footer>
</body>

<script>
  const tabs = document.querySelectorAll(".content-bottun");
  tabs.forEach(tab => {
    tab.addEventListener("click", () => {
      tabs.forEach(t => t.classList.remove("active"));
      tab.classList.add("active");
    });
  });
</script>


