{% extends 'home/home_base.html' %}
{% load static %}
{% block title %}
med profile
{% endblock %}
{% block header-plus %}
<div class="header-plus">
<a href="{% url 'home' %}">
    top
</a>
>
<a href="{% url 'profile'%}">
    profile
</a>
</div>
{% endblock %}
{% block main %}
    <main class="profile-main">
        <h1 class="profile">
            Profile
        </h1> 
        <h2 class="myprofile-content">
            東京電機大学に所属する20歳の大学生<br>
            <br>
            Djangoを用いたwebアプリの開発にハマった情報系学生です。<br>
            <br>
            最近は、自宅鯖の運営だったりiOS開発に手を出しています。<br>
            <br>
            趣味は、ガジェット集めだったりデスク整備だったり<br>
        </h2>
         <h1 class="future-vision">
            Future Vision
        </h1>
        <h2 class="future-vision-content">
            <div>
            セキュリティ<br>
            </div><br>
            指数関数的に増えていく技術の数と種類、それに比例するように増えていく脅威から人々を守っていきたいと感じる。<br>
            CTFややKali Linuxの知識を蓄えている<br>
            <br>
            <div>
            インフラ<br>
            </div><br>
            世の中に溢れているシステムを知ることによって人と技術の結び目を知ることと同時にそれらを開発していく人物になりたい。<br>
            最近では、nginxとgunicornを用いた自宅サーバーの運営を行っっている。これからは、さらに通信速度などをあげ、UXを向上させていきたい。<br>
            <br>
            <div>
            アプリ開発<br>
            </div><br>
            webアプリをはじめとした様々なアプリを開発していきたい。<br>
            最近では、Djangoを使ったblogなどを開発した。<br>
            <br>
        </h2>
        <h1 class="contact">
            Contact
        </h1>
        <h2 class="contact-content">
            Email<br>
            <br>
            <a href="mailto:med.rk000@gmail.com">med.rk000@gmail.com<br>
        </h2>
    </main>
{% endblock %}