{% load static %}
<ul class="nav-menu">

  {% for category in sidebar_categories %}
    <li class="nav-item dropdown">
      <a href="{% url 'blog:category_filter' category.name %}">{{ category.name }}</a>
      {% if category.tag.all %}
        <ul class="dropdown-menu">
          {% for tag in category.tag.all %}
            <li>
              <a href="/blog/category/{{ category.name }}/tag/{{ tag.name }}">{{ tag.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
